body {
    font-family: roboto, fantasy;
    padding: 0;
    margin: 0;
    background-image: url('images/Lotro\ Lothlorien\ by\ trueping\ on\ DeviantArt\(1\).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    box-sizing: border-box;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
header li {
    display: inline-block;
    border: 2px solid goldenrod;
    padding: 4px;
    border-radius: 23px;
}
header a {
    color: ghostwhite;
    text-decoration: none;
}

header {
    display: flex;
    background-image: url('images/nazgul.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    gap: 5cm;
    justify-content: space-around;
    
}
.heading {
    display: flex;
}
h3 {
    color: ghostwhite;
    font-size: 16px;
    font-family: Elephant,"Times New Roman", sans-serif;
    border: 2px solid goldenrod;
    border-radius: 23px;
    padding: 8px;
    margin-top: 10px;
}
.logo {
    border: 2px solid goldenrod;
    border-radius: 50%;
    margin-top: 4px;
}
.sword {

}

.heroText-image {
    display: flex;
    margin: 50px 100px 0px 100px;
    gap: 30px;
    border: 1px solid black;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 16px;
    opacity: 0.5px;
    height: 100%;
    padding: 50px;
}
.heroText {
    width: 50%;
    flex-wrap: wrap;
    color: ghostwhite;
}
.heroImage {
    transform: scaleX(-1); /*to flip the image*/
    padding-bottom:0;
}
button a {
    text-decoration: none;
    color:goldenrod;
    border-radius: 23px;
    font-weight:bolder;
    font-size:23px;
}
button {
    padding: 15px;
    background: lightblue;
    position: absolute;
    text-align: center;
    margin-left: 170px;
    margin-top: 50px;
    border-radius: 30px;
}
figcaption a {
    color:white;
    text-decoration: none;
    font-size: 16px;
}
figcaption {
    color:white;
    text-decoration: none;
    font-size: 16px;
}











.layer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.characters {
    margin:16px;
    gap: 16px;
}