body {
    font-family: roboto, fantasy;
    padding: 0;
    margin: 0;
    background-image: url('images/Lotro\ Lothlorien\ by\ trueping\ on\ DeviantArt\(1\).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    box-sizing: border-box;
}





header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

header li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 4px;
   
}

header a {
    color: white;
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    border: 2px solid goldenrod;
    padding: 6px;
    border-radius: 23px;
    background-image: linear-gradient(to right, rgb(241, 74, 23), goldenrod);
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
}

header {
    display: flex;
    background-image: url('images/nazgul.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    gap: 5cm;
    justify-content: space-around;
    
}

.heading {
    display: flex;
}

h3 {
    color: white;
    font-size: 18px;
    font-family: "Berkshire Swash";
    text-shadow: 2px 2px 4px black;
    border: 2px solid goldenrod;
    border-radius: 23px;
    padding: 8px;
    margin-top: 10px;
    background-image: linear-gradient(to bottom right, rgb(241, 74, 23), goldenrod);
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
}

.logo {
    border: 2px solid goldenrod;
    background: linear-gradient(to right, rgb(241, 74, 23), goldenrod);
    border-radius: 50%;
    margin-top: 7px;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
}

.sword {
    margin: 0px;
}
.conicals {
    display: flex;
}
.conical1, .conical2 {
    height: 30px;
    width: 30px;
    margin: 20px 0px 0px 0px;
    background-image: repeating-conic-gradient(rgb(241, 74, 23) 10%, goldenrod 20%);
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
}

.heroText-image {
    display: flex;
    margin: 70px 100px 0px 100px;
    gap: 30px;
    border: 1px solid black;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 16px;
    opacity: 0.5px;
    height: 100%;
    padding: 50px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-family: "Caesar Dressing", Courier, monospace;
}
.heroText {
    width: 50%;
    flex-wrap: wrap;
    color: ghostwhite;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
}

.heroImage {
    transform: scaleX(-1); /*to flip the image*/
    padding-bottom:0;
}

.button {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px black;
    border-radius: 23px;
    font-weight:bolder;
    font-size:23px;
    padding: 13px;
    background: linear-gradient(to bottom right, rgb(241, 74, 23), goldenrod);
    border-radius: 30px;
    position: absolute;
    text-align: center;
    margin-left: 14%;
    margin-top: 16px;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
}

figcaption a {
    color:white;
    text-decoration: none;
    font-size: 16px;
}

figcaption {
    color:white;
    text-decoration: none;
    font-size: 16px;
}








.layer1 {
    background-color: goldenrod;
    margin-top: 100px;
    padding-top: 0px;
}

.container {
    display: flex;

    justify-content: center;
}

.characters {

}

h2 {
    text-align: center;
    color: ghostwhite;
    font-size: 2vw;
    font-family: "Berkshire Swash";
    padding-top: 4vw;
}








.layer2 {
    padding: 150px;
    display: flex;
    gap: 23x;
}

.layer2 p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}
span {
    position: absolute;
    margin-left: 5cm;
}




.layer3 {
    display: flex;
    justify-content: center;
    background:goldenrod;
    padding: 150px;
}

.footer {
    text-align: center;
    color: white;
    font-size: 20px;
}